.findify-mjs-search-results__main__navigation {display: none !important;}
.findify-mjs-search-results__main__content {width: 100% !important;}
.findify-mjs-search-results__footer.row > div:first-child {
  display: none;
}
.findify-mjs-search-results__footer.row > div:last-child {
  width: 100%;
}

.findify-mjs-powered-by-findify {
  display: none !important;
}
.findify-mjs-search-results__header .row > div:first-child {
  display: none;
}
.findify-mjs-search-results__header .row > div:last-child {
  float: right !important;
}

@media screen and (max-width: 767px) {
  .findify-mjs-search-results {
    padding-top: 0 !important;
  }
}